.card-content {
  margin: 2em 0;
  border-radius: 10px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 8px 8px 8px -4px rgba(0, 0, 0, 0.29);
  @apply border-th-background-contrast bg-gradient-to-r from-th-background to-th-background-paper;
}

.description-container {
  margin: 25px 20px;
}

.title {
  margin: -30px 10px 15px !important;
  width: max-content !important;
  padding: 0 10px !important;
  font-size: 24px !important;
  @apply text-th-primary !important;
}

.title-line {
  width: 100%;
  height: 1px;
  margin-top: -32px;
  @apply bg-th-background;
}

.logo-container {
  margin: 20px 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 85px);
  gap: 2em;
  justify-content: center;
  align-items: center;
}
