@import 'tailwindcss';

@theme {
  --color-bg: rgb(255 255 255);
  --color-text: rgb(0 0 0);
  --color-primary: rgb(0 112 244);
  --color-secondary: rgb(255 153 0);
  --color-error: rgb(220 38 38);
  --color-success: rgb(34 197 94);
}

.dark {
  --color-bg: rgb(0 0 0);
  --color-text: rgb(255 255 255);
  --color-primary: rgb(100 210 255);
  --color-secondary: rgb(255 200 100);
  --color-error: rgb(248 113 113);
  --color-success: rgb(134 239 172);
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}