.wrapper {
  display: flex;
}

.bullets {
  width: 13px;
  height: 13px;
  border-radius: 100%;
}

.container {
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 8px 8px 8px -4px rgba(0, 0, 0, 0.29);
  border: 1px solid;
  @apply bg-gradient-to-r from-th-background to-th-background-paper;
}

.greeting-container {
  margin-top: 15px;
  @apply grid md:flex md:gap-5 lg:gap-7 xl:gap-9;
}

.hand-container {
  min-width: 150px;
  @apply text-center md:text-left;
}

.handImage {
  padding: 10px !important;
  animation: greeting 0.7s linear 3;
}

.title {
  @apply text-th-primary text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl mb-3 md:mb-5 !important;
}

.info {
  @apply text-background text-justify text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl;
}

@keyframes greeting {
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
