@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-th-background;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.typewriter-tag {
  color: rgb(81, 208, 247);
}

.typewriter-label {
  color: rgb(199, 196, 39);
}

:root {
  --primary: theme('colors.primary');
  --secondary: theme('colors.secondary');
  --error: theme('colors.error');
  --warning: theme('colors.warning');
  --info: theme('colors.info');
  --success: theme('colors.success');
  --background: theme('colors.background');
}

[data-theme='dark'] {
  --primary: theme('colors.primary-dark');
  --secondary: theme('colors.secondary-dark');
  --error: theme('colors.error-dark');
  --warning: theme('colors.warning-dark');
  --info: theme('colors.info-dark');
  --success: theme('colors.success-dark');
  --background: theme('colors.background-dark');
}

::-webkit-scrollbar {
  width: 0.65em;
  max-width: 0.65em;
  height: 0.65em;
  max-height: 0.65em;
}

::-webkit-scrollbar:hover {
  background: #ccc;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
