.wrapper {
  display: flex;
}

.bullets {
  width: 13px;
  height: 13px;
  border-radius: 100%;
}

.container {
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 8px 8px 8px -4px rgba(0, 0, 0, 0.29);
  border: 1px solid;
  @apply bg-gradient-to-r from-th-background to-th-background-paper;
}

.greeting-container {
  margin-top: 15px;
  display: flex;
  grid-gap: 10px;
}

.hand-container {
  min-width: 150px;
}

.handImage {
  padding: 10px !important;
  animation: greeting 0.7s linear 3;
}

.title {
  font-size: 30px;
  @apply text-th-primary !important;
}

.info {
  text-align: justify;
  @apply text-background;
}

@keyframes greeting {
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 450px) {
  .hand-container {
    text-align: center;
  }

  .greeting-container {
    display: grid;
  }
}
